<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Portfolio ~ Vaibhav Haswani</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="static/css/default.css">
	<link rel="stylesheet" href="static/css/layout.css">
   <link rel="stylesheet" href="static/css/media-queries.css">
   <link rel="stylesheet" href="static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="static/favicon.ico" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#call-to-action">Inspiration</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">

            <h1 class="responsive-headline">'Vaibhav Haswani'</h1>
            <h3>I'm a <span>Sofware Developer</span>, <span>Web Developer</span> and a <span>Musician</span>.<br>
            Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://github.com/VaibhavHaswani"><i class="fa fa-github"></i></a></li>
               <li><a href="https://t.me/OptimistGeek"><i class="fa fa-telegram"></i></a></li>
               <li><a href="https://www.linkedin.com/in/vaibhav-haswani-2078b888/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/haswani.vaibhav/"><i class="fa fa-instagram"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="static/images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>Hey There! I am Vaibhav Haswani, basically an enthusiast who enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set.
                I'm having hands on experience developing softwares ,scripts even managing servers with <u>Python</u> , and I also have an experience of more than 4 years with programming and working with related projects.<br>
                Besides, I'm a Virtuoso (Music Person) who knows play several musical instruments like guitars(acoustic,bass,electric,classical) and keyboard.
                I also kind of indulged with some music production and had composed several tracks and songs too.
                As we all know the importance of physical activities so far , i prefer Calisthenics for that as calisthenics include body weight engagement for muscle training thus working out is beneficiary for the growth of brain cells.
                Hope you'd gotta know so much about me, <br>let's scroll and find out more !
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Vaibhav Haswani</span><br>
						   <span>Chitkara University (HP)<br>
						         Hometown : Kanpur, Uttar Pradesh, India
                     </span><br>
						   <span>(+91)8299147230</span><br>
                     <span>vaibhavhaswani@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="static/resume/Resume(Vaibhav_Haswani).pdf" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Chitkara University (HP)</h3>
                  <p class="info"> Bachelor of Engineering in CSE <span>&bull;</span> <em class="date">August 2022</em></p>

                  <p>
                  So, I'm currently pursuing my undergraduate degree of B.E from Chitkara University (HP).<br>
                     Here's a brief intro to the University (from <b>third party sources</b>):Chitkara University, Himachal Pradesh is a very popular university in the state of Himachal Pradesh. It is one of the leading university in Engineering, Hospitality, Tourism and Catering, Medicine and Health Sciences, Science and Mathematics and Computer Science . Chitkara University, Himachal Pradesh is recognised by the University Grants Commission (UGC), which has also sent an expert committee. The university is accredited by the National Assessment and Accreditation Council (NAAC) with a score of 2.71 out of 4. The university is also a member of the Association of Indian Universities (AIU).
                  </p>

                  <p class="date">CGPA <span>:</span> 9.57 &nbsp; &nbsp;(on scale of 10)</p>

               </div>

            </div> <!-- item end -->

          <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->



      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Well, I am a Self Taught Developer ,learning new things and digging into tech's depth always been a passion of mine.
               &nbsp;All my learnings (i.e never ending) and projects are only possible with the help of my instincts , online communities like StackOverflow etc including some online courses all these things have been a boon for me to grow and grasp.
               <br>Here's a glimpse of some of my proficient skills on a scale -
            </p>

				<div class="bars">

				   <ul class="skills">
                  <li><span class="bar-expand python"></span><em>Python Development</em></li>
                  <li><span class="bar-expand ai"></span><em>AI/Machine Learning</em></li>
                  <li><span class="bar-expand flask"></span><em>Flask</em></li>
						<li><span class="bar-expand django"></span><em>Django</em></li>
						<li><span class="bar-expand cpp"></span><em>C/C++</em></li>
						<li><span class="bar-expand web"></span><em>Web Scraping</em></li>
                  <li><span class="bar-expand server"></span><em>Server Side Development</em></li>
                      <li><span class="bar-expand eh"></span><em>Ethical Hacking / Troubleshooting</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Projects.<br></h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="PassGeny">
                        <img alt="" src="static/images/portfolio/pgt.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Password Geny</h5>
                              <p>A desktop app for generating strong passwords.</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="HackerNews">
                        <img alt="" src="static/images/portfolio/hnt.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>HackerNews Client</h5>
                              <p>A CUI client of HackerNews (improved)</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="Pwny Pass">
                        <img alt="" src="static/images/portfolio/pwpst.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Pwny Passwords</h5>
                              <p>A cui client to check if your passwords ever been pwned.</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="File Translator">
                        <img alt="" src="static/images/portfolio/trnst.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>File Translator</h5>
                              <p>Translate your files into any language.</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

            </div> <!-- portfolio-wrapper end -->
              <div>
                  <br><br>
                  <center><a href="https://github.com/VaibhavHaswani?tab=repositories"><button class="button" style="background:#1ed6f7">Check Out More</button></a></center>
                </div>
         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="static/images/portfolio/modals/pg.png" alt="" />

		      <div class="description-box">
			      <h4>Password Geny</h4>
			      <p>A python tkinter based win desktop app to generate strong passwords.</p>
               <span class="categories"><i class="fa fa-tag"></i>Passwords, Security</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/VaibhavHaswani/Password-Generator-v1.0" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="static/images/portfolio/modals/hn.png" alt="" />

		      <div class="description-box">
			      <h4>HackerNews (cui)</h4>
			      <p>"Get the latest and highly rated tech news!"<br>
description: This script uses web scraping to provide the latest and updated tech related news</p>
               <span class="categories"><i class="fa fa-tag"></i>TechNews, Web Scraping</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/VaibhavHaswani/HackerNews" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="static/images/portfolio/modals/pwps.jpg" alt="" />

		      <div class="description-box">
			      <h4>Pwny Passwords (v1.0)</h4>
			      <p>"Check if your passwords ever been PWNED!" Pwned passwords: (pwned passwords are those that are exposed in data breaches)<br>
desc: The code uses encryption of passwords through sha1 and the latest k-anonymity concept i.e your passwords would remain secure.</p>
               <span class="categories"><i class="fa fa-tag"></i>Security,Passwords,Api</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/VaibhavHaswani/pwny-passwords-v1.0" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="static/images/portfolio/modals/trns.jpg" alt="" />

		      <div class="description-box">
			      <h4>File Translator</h4>
			      <p>Translate your text files into required languages ! <br>All Iso-639 encoded languages support, refer:https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes</p>
               <span class="categories"><i class="fa fa-tag"></i>Translator</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/VaibhavHaswani/File-Translator" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">
              

         </div>

         <div class="seven columns">

            <h2><span class="lead">INSPIRATIONS</span></h2>
            <p><span class="lead">Some quotes that inspired me a lot though....</span></p>

         </div>

         <div class="three columns action">



         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

         

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p> Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.
                           </p>
                           <cite>Albert Einstein</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>You have to be pretty driven to make it happen. Otherwise, you will just make yourself miserable
                           </p>
                           <cite>Elon Musk</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                         <li>
                        <blockquote>
                           <p>Don’t compare yourself with anyone in this world…if you do so, you are insulting yourself.
                           </p>
                           <cite>Bill Gates</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

               <p class="lead">
                  <span style="color:#fff; font-size:20px">I’d <i style="color:red;" class="fa fa-heart"></i> to hear from you !</span>
                  Whether you have a question about myself , my work , how i made this portfolio  or anything else or even a personal message, i'm here to answer all your questions and messages .
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns" id="form">

               <!-- form -->
               <form action="/submit_data" method="POST" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName" required>
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="email" value="" size="35" id="contactEmail" name="contactEmail" required>
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="8" id="contactMessage" name="contactMessage" required></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                  </div>


					</fieldset>
				   </form> <!-- Form End -->




            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Vaibhav Haswani<br>
						   Kanpur <br>
                     Uttar Pradesh<br>
                     vaibhavhaswani@gmail.com<br>
						   <span>(+91)8299147230</span>
					   </p>

				   </div>



            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://github.com/VaibhavHaswani"><i class="fa fa-github"></i></a></li>
               <li><a href="https://t.me/OptimistGeek"><i class="fa fa-telegram"></i></a></li>
               <li><a href="https://www.linkedin.com/in/vaibhav-haswani-2078b888/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/haswani.vaibhav/"><i class="fa fa-instagram"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2020 Vaibhav Haswani</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="static/js/jquery.flexslider.js"></script>
   <script src="static/js/waypoints.js"></script>
   <script src="static/js/jquery.fittext.js"></script>
   <script src="static/js/magnific-popup.js"></script>
   <script src="static/js/init.js"></script>

</body>

</html>